
.cart {
    
   display:flex;
   justify-content:center;
    flex-wrap:wrap;
    
}

h1{
    text-align:center;
    font-size:larger;
    color:red;

}

.remove_btn {
    padding: 10px 30px;
    border: solid 1px black;
    background-color:transparent;
  
}
.data{
    width:100%;
    display:flex;
    justify-content:space-between;
   margin:10px 20px;
}

.contents{
    display:flex;
    flex-direction:column;
    margin-left:100px;
    margin-top:10px;
}

.name{
    margin-top:20px;
}

.price {
    margin-top: 20px;
}

.quantity {
    margin-top: 20px;
}
